# Database (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mp8085?schema=public"

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-a-random-string-at-least-32-chars"

# Google OAuth (from Google Cloud Console)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Gemini AI API Key (from Google AI Studio)
GEMINI_API_KEY=""

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

# Upstash Redis Configuration (Needed for caching/rate-limiting)
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# Resend Email Configuration (For Magic Links)
RESEND_API_KEY=""
EMAIL_FROM="onboarding@resend.dev"